*{
    box-sizing: border-box;
    font-family: cursive;
}
h1 {
    text-align: center;
}
div > div {
    border: 2px solid black;
    background-color: lightgray;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    color: black;
    margin: 5px;
}
.row{
    width: 100%;
}
p{
	clear:both;
    margin: 10px;
}
.fordiv{
    float: right;
    display: inline;
    width: 33%;
    margin-top: 0;
    margin-right: 0;
    border: 1px solid black;
    height: auto;
    text-align: center;
    color: white;
}
.halloween {
    background-color: black;
}
.christmas {
    background-color: red;
}
.newyear {
    background-color: green ;
}


@media (min-width: 992px)
{
    .col-lg-4 {
		float: left;
		border: 2px solid black;
        width: 30%;
    }
}

@media  (min-width: 768px) and (max-width: 991px)
{
    .col-md-6, .col-md-12
    {
        float: left;
        border: 2px solid black;
    }
    .col-md-6{
        width: 47.67%;
    }
    .col-md-12{
        width: 96.67%;
    }
    
    .newyear {
        width: 16.67%;
    }
}

@media  (max-width: 767px)
{
    div > div {
    margin-top: 3vh;
    width: auto;
    }
}